@use "./partials/variables" as *;
@use "./partials/footer";


html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

// style guide 
// Green #207200 
// White #fff 
// Black #1A2428
// Main Heading Text (Providing Tasty...) Lora,
// Bold (900) 
// Section heading (About Us, Our Products) Section sub-heading (Providing best organic products) Lora,
// Semi-Bold (700) 
// Product names (Mix Vegetables) Lora,
// Medium (600) 
// Body text (lorem ipsum) Barlow,
// Regular (400) 
// Menu Items Barlow,
// Semi-Bold (600)



// GENERIC STYLING

html {
    font-size: 125%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

p {
    font-family: 'Barlow', sans-serif;
}

button {
    background-color: #207200;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: .6rem;
    border: none;
    padding: 5px;
    width: 100px;
    height: 33px;
    font-weight: bold;
    
}



// NAV

nav {
    display: flex;
    background-color: #fff;
    align-items: center;
    height: 90px;
    .wrapper {
        display: flex;
    }
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 0px;
    li a {
        text-decoration: none;
        color: #1A2428;
        font-size: .75rem;
    }
}


.navContainer {
    justify-content: space-between;
}

.logoContainer {
    width: 83px;
    min-width: 83px;
    padding-top: 12px;
}

.cartIcon {
    width: 25px;
}

// HEADER

header {
    background-image: url(/assets/header/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 90px);
}

.headerContainer {
    display: flex;
    padding-top: 20vh;

}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding-right: 5%;
    p {
        font-size: .75rem;
        line-height: 1.1rem;
    }
}


h1 {
    font-family: 'Lora', serif;
}

.headerImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.headerImageContainer img {
    object-fit: cover;
}

// ABOUT SECTION

.aboutContainer {
    display: flex;
    padding: 60px 0px;
}

.aboutUsTitle, 
h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

.greenContainer {
    width: 50%;
    
}

.greenContainer p {
    background-color: #207200;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 2px;
    border-radius: 24px;
    height: 185px;
    padding-top: 66px;
    padding-left: 24px;
}

// OUR PRODUCTS SECTION

.ourProductsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

.ourProductsTitle p {
    font-size: .75rem;
    max-width: 535px;
    text-align: center;
    line-height: 1.1rem;
}

.vegetableProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mixVegetableContainer {
    border: solid rgba(197, 197, 197, 0.16);
    // border-width: thin;
    // position: relative;
    width: calc(25% - 20px);
    // margin-bottom: 35px;
    min-width: 200px;
    font-size: .75rem;
}

.mixVegetableContainerText {
    padding: 0px 20px;
}

.mixVegetableContainer button {
    position: relative;
    bottom: -18px;
    left: 40px;
}

.price {
    color: #207200;
}

span.oldPrice {
    text-decoration: line-through;
}

.ourProductsLoadMoreButton {
    display: flex;
    margin: 100px 0px;
    justify-content: center;
}

// OUR GALLERY SECTION

.ourGalleryTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.ourGalleryTitle p {
    font-size: .75rem;
    text-align: center;
    line-height: 1.1rem;
}

.ourGalleryTitle h3 {
    text-align: center;
}

.ourGalleryTitle ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
    background-image: url(/assets/grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
        // height: 100vh;
        // width: 100%;
}

.galleryImageContainerThird {
    display: flex;
    gap: 10px;
}

.galleryImageContainerThird img {
    width: 33.33333%;
    
}

.galleryImageContainerHalf {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.galleryImageContainerHalf img {
    width: 50%;
}


// LATEST NEWS SECTION

.latestNewsSection {
    background-color: #207200;
    padding-bottom: 100px;
}

.latestNewsSection p {
    font-size: .75rem;
}

.latestNewsTextContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.lastestNewsImageBoxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
   
}

.blogImageContainer {
    background-color: #fff;
    padding: 10px 10px 30px 10px;
    
    // width: 32%;
}

.blogImageContainer p {
    font-size: .75rem;
}



/* CONTACT PAGE */

/* Contact Us Banner */

.contactUsBanner {
    // background: url(/assets/contact.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 311px;
    position: relative;
    display: flex;
    z-index: 1;
    // filter: brightness(.5);
    h1 {
        font-size: 2rem;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url(/assets/contact.jpg);
        filter: brightness(.5);
        background-position: center;
    }
}

.contactUsBanner .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

.contactUsBanner h1 {
    font-weight: 400;
}

// form section

.contactAndForm {
    display: flex;
    padding-top: 50px;
}

.officePhoneEmailContainer {
    display: flex;
    flex-direction: column; 
    width: 50%;
    gap: 20px;
    margin-right: 35px;
}

.officePhoneEmailContainer div {
    box-shadow: 0px 0px 5px 0px rgba(130, 129, 129, 0.183);
    border-left: solid thick #207200;
    font-size: .75rem;
    line-height: 1.4rem;
    padding: 15px 15px 15px 35px;
    
}


.formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    box-shadow: 0px 0px 5px 0px rgba(130, 129, 129, 0.183);
    font-size: .75rem;
    padding: 40px;
    gap: 20px;
}

.formSideBySide {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formSideBySide form {
    width: 50%;
}

.formContainer input,
.formContainer textarea {
    width: 100%;
    font-size: .6rem;
    padding: 10px 0px 10px 15px;
    border: solid thin grayscale($color: #23222232);
    border-radius: 3.5px;
}

.formContainer button {
    margin: 0 auto;
    width: 120px;
}

// media queries 
// 1280, 1024, 940, 768, 480 

@media (max-width: 1024px) {

    .lastestNewsImageBoxes {
    flex-direction: column;
    }

    .blogImageContainer {
        width: 350px;
        max-width: 80vw;
    }
}


@media(max-width: 768px) {
    
    // .navContainer{
    //     display: flex;
    //     flex-direction: column;
    // }

    .headerContainer {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        gap: 20px;
    }

    .textContainer {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .headerImageContainer {
        width: 100%;
    }

    // about section media queries 

    .aboutContainer {
        flex-direction: column;
    }

    .greenContainer {
        width: 100%;
    }

    .greenContainer p {
        text-align: center;
    }

    // out products section media queries

    .vegetableProducts {
        justify-content: center;
    }

    // gallery section media queries 


    // lastest news section medai queries 

    .latestNewsTextContainer {
        text-align: center;
    }

    .lastestNewsImageBoxes {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .blogImageContainer {
        text-align: center;
    }
    // footer media queries

    .fourContainer {
        flex-direction: column;
    }

    .footerOneFourthBox {
        width: 100%;
        align-items: center;
    }

    .footerIconContainer {
        gap: 20px;
    }

    // contact page media queries

    .contactAndForm {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .officePhoneEmailContainer {
        margin-right: 0px;
        width: 100%;   
    }

    .formContainer {
        width: 100%;
    }

    .footerOneFourthBox p,
    .footerOneFourthBox a,
    .footerOneFourthBox form {
        text-align: center;
    }
}

@media(max-width: 580px) {

    
}

// media query 480px down to 390
@media(max-width: 480px) {

    // nav
    .navContainer ul {
        gap: 1rem;
        padding-left: 6px;
    }    

    // about section
    .aboutContainer {
        padding: 25px 0px;
    }

    // our products section
    .ourProductsTitle {
        padding: 25px 0px;
    }
}


    
