@use "./partials/variables" as *;
@use "./partials/setup";
@use "./partials/genericStyling";
@use "./partials/nav";
@use "./partials/header";
@use "./partials/aboutSection";
@use "./partials/ourProductsSection";
@use "./partials/ourGallerySection";
@use "./partials/latestNewsSection";
@use "./partials/footer";

/* CONTACT PAGE */

/* Contact Us Banner */

.contactUsBanner {
    // background: url(/assets/contact.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 311px;
    position: relative;
    display: flex;
    z-index: 1;
    // filter: brightness(.5);
    h1 {
        font-size: 2rem;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url(/assets/contact.jpg);
        filter: brightness(.5);
        background-position: center;
    }
}

.contactUsBanner .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $White;
    font-size: 1.5rem;
}

.contactUsBanner h1 {
    font-weight: 400;
}

// form section

.contactAndForm {
    display: flex;
    padding-top: 50px;
}

.officePhoneEmailContainer {
    display: flex;
    flex-direction: column; 
    width: 50%;
    gap: 20px;
    margin-right: 35px;
}

.officePhoneEmailContainer div {
    box-shadow: 0px 0px 5px 0px rgba(130, 129, 129, 0.183);
    border-left: solid thick $Green;
    font-size: .75rem;
    line-height: 1.4rem;
    padding: 15px 15px 15px 35px;
    
}


.formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    box-shadow: 0px 0px 5px 0px rgba(130, 129, 129, 0.183);
    font-size: .75rem;
    padding: 40px;
    gap: 20px;
}

.formSideBySide {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formSideBySide form {
    width: 50%;
}

.formContainer input,
.formContainer textarea {
    width: 100%;
    font-size: .6rem;
    padding: 10px 0px 10px 15px;
    border: solid thin grayscale($color: #23222232);
    border-radius: 3.5px;
}

.formContainer button {
    margin: 0 auto;
    width: 120px;
}

span {
    font-weight: bold;
}

// media queries 
// 1280, 1024, 940, 768, 480 

@media (max-width: 1024px) {


    // latest news section media queries 

    .lastestNewsImageBoxes {
    flex-direction: column;
    }

    .blogImageContainer {
        width: 350px;
        max-width: 80vw;
        text-align: center;

    }


}


@media(max-width: 768px) {
    
    // .navContainer{
    //     display: flex;
    //     flex-direction: column;
    // }

    header {
        height: 100%;
        .textContainer {
            padding-right: 0%;
        }
    }

    .headerContainer {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        gap: 20px;
    }

    .textContainer {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .headerImageContainer {
        width: 100%;
    }

    // about section media queries 

    .aboutContainer {
        flex-direction: column;
        .textContainer {
            padding-right: 0%;
        }
    }

    .greenContainer {
        width: 100%;
    }

    .greenContainer p {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    // out products section media queries

    .vegetableProducts {
        justify-content: center;
    }

    // gallery section media queries 


    // lastest news section medai queries 

    .latestNewsTextContainer {
        text-align: center;
    }

    .lastestNewsImageBoxes {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .blogImageContainer {
        text-align: center;
    }
    // footer media queries

    .fourContainer {
        flex-direction: column;
    }

    .footerOneFourthBox {
        width: 100%;
        align-items: center;
    }

    .footerIconContainer {
        gap: 20px;
    }

    // contact page media queries

    .contactAndForm {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .officePhoneEmailContainer {
        margin-right: 0px;
        width: 100%;   
    }

    .formContainer {
        width: 100%;
    }

    .footerOneFourthBox p,
    .footerOneFourthBox a,
    .footerOneFourthBox form {
        text-align: center;
    }
}

@media(max-width: 580px) {

    
}

// media query 480px down to 390
@media(max-width: 480px) {

    // nav
    .navContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
    }
    .navContainer ul {
        gap: 1rem;
        margin-top: 9px;
    }    

    // about section
    .aboutContainer {
        padding: 25px 0px;
    }

    // our products section
    .ourProductsTitle {
        padding: 25px 0px;
    }
}


    
